#pagina-tec {
  background-color: #611232;
  background-color: #1B396A;
  background-color: #FFFFFF;
  background-color: #EFEFEF;

  /* toluca
  https://www.tolucatecnm.mx/categoria/40/capitulos-estudiantiles */
  background-color: #0B231E;
  background-color: #EEEEEE;
 
}